.product_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
}

.product_main img {
  max-width: 100%;
}

.singleProduct_cat {
  text-transform: capitalize;
  color: #8b8b8b;
  font-weight: 500;
  display: block;
}

.singleProduct_price {
  font-size: 18px;
  display: block;
  margin-top: 40px;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .product_main {
    display: flex;
    flex-direction: column;
    grid-gap: 48px;
  }
}