.Products__Container {
  max-width: 1140px;
  margin: 80px auto;
}

.Products h3 {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 32px;
}

.Products__Grid,
.products_loader_container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
  /* justify-content: space-between; */
  column-gap: 24px;
  row-gap: 48px;
}

.Products__Card,
.products_loader {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  transition: .2s ease-out;
}

.Products__Card:hover {
  opacity: .7;
  cursor: pointer;
  transition: .2s ease-out;
}

.Products__Image {
  display: block;
  height: 240px;
  object-fit: contain;
  padding: 24px;
  background: #fff;
  margin-bottom: 16px;
}

.Products__CardTitle {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin: 0px 0 8px;
}

.Products__CardDescription {
  font-size: 14px;
  line-height: 1.5;
  color: #8b8b8b;
  font-weight: 400;
}

.Products__PriceBox {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.Products__Price {
  display: block;
  font-size: 18px;
  margin: 10px 0 0;
  font-weight: 500;
}

.Products__Price.Discounted {
  text-decoration: line-through;
  opacity: .5;
  font-size: 14px;
}

@keyframes prod_loader_ani {
  from {background: #f4f4f4;}
  to {background: #eee;}
}

.products_loader {
  background: #eee;
  height: 400px;
  animation-name: prod_loader_ani;
  animation-duration: .45s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media screen and (max-width: 600px) {
  .Products__Container {
    padding: 20px;
    margin: 40px auto;
  }
}