.hero {
  background: url('../../assets/hero-background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  row-gap: 10px;
  height: 500px;
  position: relative;
}

.hero h1 span,
.hero h2 {
  margin: 0;
  line-height: 1;
}

.hero__nav {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  line-height: 1;
  height: 75px;
  overflow: hidden;
}

.hero__title {
  margin: 0;
  font-size: 100px;
  line-height: 1;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 900;
  opacity: .75;
}

.hero h2 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}

.hero__btn {
  border: none;
  padding: 16px 32px;
  font-size: 20px;
  font-family: inherit;
  line-height: 1;
  text-transform: capitalize;
  font-weight: 600;
  border-radius: 100px;
  background: blue;
  color: #fff;
}

.hero__btn:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.hero__logo {
  height: 40px;
  width: auto;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.nav__link:not(:last-child) {
  padding-right: 32px;
}

.hero__bottom {
  position: absolute;
  bottom: 32px;
  width: 100%;
  max-width: 1140px;
  display: flex;
  line-height: 1;
  justify-content: space-between;
  height: 75px;
  align-items: flex-end;
  font-size: 12px;
  box-sizing: border-box;
  overflow: hidden;
  text-transform: capitalize;
  font-weight: 500;
}

.hero__address {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

@media screen and (max-width: 600px) {
  .hero, .hero__nav, .hero__bottom {
    padding: 0 20px;
  }

  .hero__nav {
    box-sizing: border-box;
  }

  .hero__title {
    font-size: 64px;
  }
}