.footer {
    background: #1a1a1a;
    padding: 40px 0;
    color: #fff;
}

.footer h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 16px;
}

.footer b {
    font-weight: 500;
}

.footer .footer__links {
    display: flex;
    gap: 20px;
}

.footer__copyright {
    color: #8b8b8b;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.footer__copyright a {
    text-decoration: none;
    color: #fff;
    transition: .2s;
}

.footer a:hover {
    opacity: .75;
    transition: .2s;
}

@media screen and (max-width: 600px) {
    .footer .footer__links {
        flex-direction: column;
        gap: 10px;
    }
    
    .footer__copyright {
        gap: 30px;
        flex-direction: column;
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}