.App {
  background: #1a1a1a;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.App h1 {
  margin: 0;
  font-size: 72px;
  line-height: 1;
  z-index: 1;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  line-height: 1;
  height: 50px;
}

.nav__links a {
  display: inline-block;
}

.nav__links a:not(:last-child) {
  padding-right: 32px;
}