.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-link {
  color: rgb(112, 76, 182);
}

#root {
  display: grid;
  grid-template-rows: 40px 1fr;
  min-height: 100vh;
  align-items: center;
  background: url('./assets/img/header-background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

#root header {
  max-width: 1160px;
  margin: 0 auto;
}

#root h1 {
  font-size: 60px;
}

nav {
  text-align: center;
  position: relative;
}

nav a {
  color: rgba(255,255,255,.5);
  margin: 0 10px;
}