/* GLOBAL */
:root {
  --theme-color: blue;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.titleContainer {
  height: 50px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .javaScript {
    padding: 50px 20px;
  }

  .titleContainer {
    height: 40px;
  }

  .javaScript h3 {
    font-size: 2.5rem;
    bottom: -100%;
  }

  .javaScript p {
    font-size: 1rem;
    transform: translate(0, 50px);
  }
}