$font-stack: 'Fira Sans', Calibri;

@mixin font-sizes {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: max(24px, 5.208vw);
    line-height: 1;
  }

  h2 {
    font-size: max(48px, 2.500vw);
  }

  h3 {
    font-size: max(24px, 1.875vw);
  }

  h4 {
    font-size: max(24px, 1.250vw);;
    font-weight: 400;
  }
}

html {
  scroll-behavior: smooth;
  &, body {
    overflow-x:hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  & p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  @include font-sizes;
}