.title {
  color: #fff;
  font-size: 120px;
  margin: 0;
  z-index: 1;
  position: relative;
}

.subtitle {
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  margin: 0;
  z-index: 1;
  position: relative;
}

.one {
  background: #000;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.hero {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 1600px;
  margin: 0 auto;
}

.hero .main {
  padding: 100px 0;
}

.p {
  color: #fff;
  opacity: .5;
  font-size: 16px;
  z-index: 1;
  position: relative;
  line-height: 22px;
  font-weight: 300;
}

.hero .main .p {
  margin-right: 20%;
}

.heroRight {
  text-align: center;
}

.nav {
  font-size: 16px;
  height: 50px;
  margin-top: 50px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  color: #fff;
  opacity: .5;
  transition: .3s;
}

.nav a:hover {
  cursor: pointer;
  opacity: 1;
  transition: .3s;
}

.nav > span:not(:last-child) {
  margin-right: 50px;
}

.nav .navSocialMedia {
  font-size: 24px;
}

.nav .navSocialMedia > a:not(:last-child) {
  margin-right: 10px;
}

a.heroCTA {
  width: 260px;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 5px;
  font-family: Roboto, 'sans-serif';
  font-size: 21px;
  color: #6A6A6A;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1;
  position: relative;
}

.heroCTA svg {
  margin-right: 5px;
}

.whiteStripe::after {
  content: '';
  height: 4px;
  width: 140px;
  display: block;
  background: #fff;
  position: absolute;
  bottom: 75px;
  left: 45px;
  z-index: 1;
}

.repeatGrid {
  position: absolute;
  top: -450px;
  left: 45px;
  z-index: 0;
}

.blackRectangle::after {
  content: '';
  width: 600px;
  height: 80%;
  display: block;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.heroLogos {
  z-index: 1;
  position: relative;
  margin-top: 100px;
  margin-bottom: -50px;
}

.heroLogos > span:not(:last-child) {
  margin-right: 45px;
}

.heroLogos img {
  opacity: .5;
}