.title {
  color: #fff;
  font-size: 120px;
  margin: 0;
}

.subtitle {
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  margin: 0;
}

.one {
  background: #000;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.hero {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 1600px;
  margin: 0 auto;
}

.hero .main {
  padding: 100px 0;
}

.p {
  color: #fff;
  opacity: .5;
  font-size: 18px;
}

.heroRight {
  text-align: center;
}

.nav {
  color: #fff;
  opacity: .5;
  font-size: 18px;
  text-align: center;
  display: block;
  height: 50px;
  display: grid;
  align-items: center;
}

a.heroCTA {
  width: 260px;
  height: 60px;
  background: #222;
  border: none;
  border-radius: 5px;
  font-family: Roboto, 'sans-serif';
  font-size: 21px;
  color: #6A6A6A;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1;
  position: relative;
}

.heroCTA svg {
  margin-right: 5px;
}

.whiteStripe::after {
  content: '';
  height: 4px;
  width: 140px;
  display: block;
  background: #fff;
  position: absolute;
  bottom: 100px;
  left: 45px;
}

.repeatGrid {
  position: absolute;
  top: -450px;
  left: 45px;
  z-index: 0;
}