.App {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  background: url('../../assets/img/header-background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: grid;
  grid-template-rows: 60px 1fr;
}

nav {
  text-align: center;
  position: relative;
}

nav a {
  color: rgba(255,255,255,.5);
  margin: 0 10px;
  transition: .2s;
}

nav a:hover {
  color: #fff;
  transition: .2s;
}

.highlightedNavLink {
  color: #fff;
}

.socialIcon {
  margin: 0 5px;
}

.socialIcon i {
  color: #fff;
  opacity: .5;
  transition: .3s;
  font-size: 24px;
}

.socialIcon i:hover {
  opacity: 1;
  transition: .3s;
}

@media screen and (max-width: 480px) {

  /* ----- HEADER ----- */
  header {
    padding: 0 20px;
  }

  header h1 {
    font-size: 24px;
  }
}